# Contents
Set Up

Consistency Checking: test for mixed data types

    Products:

        Missing Values: .isnull(), .sum()
        Duplicates: .duplicated()

    Orders: impute N/A, .median()

## Set Up

In [1]:
#set up
import pandas as pd
import numpy as np
import os
path = r"C:\Users\irkat\OneDrive - University of North Carolina at Charlotte\Desktop\Data Cert\A4"

In [2]:
# import products
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original', 'products.csv'), index_col = False)

In [3]:
#check products
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [5]:
df_prods.shape

(49693, 5)

In [6]:
#import orders
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared', 'orders_wrangled.csv'), index_col = 0)

In [7]:
#check orders
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [8]:
df_ords.shape

(3421083, 6)

# Consistency Checking

In [9]:
#create test DF
df_test = pd.DataFrame()
df_test['mix'] = ['a', 'b', 1, True]

In [10]:
#check  test DF for mixed types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)
df_test['mix'] = df_test['mix'].astype('str')

mix

## Products

### Missing Values

In [11]:
#number of missing
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [12]:
#df of NA
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [13]:
#df without NA
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [14]:
#checking
df_prods.shape

(49693, 5)

In [15]:
#checking
df_prods_clean.shape

(49677, 5)

### Duplicates

In [16]:
#df of duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [18]:
df_dups.shape

(5, 5)

In [17]:
#df w/out duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [19]:
df_prods_clean_no_dups.shape

(49672, 5)

In [20]:
#Export
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared', 'products_checked.csv'))

## Orders

In [21]:
#2: week day from 0-6 as described in guide
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [22]:
#3 check for mixed data types
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

In [23]:
#4 no mixed data types

In [24]:
#5: days since prior order has many null values. they could be customers placing their first order, or an order longer than 30 days ago
df_ords.isnull().sum()

order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
order_time                     0
days_since_prior_order    206209
dtype: int64

In [25]:
#6: imputed based on mean - 11 days since prior order. data is evenly distributed so mean is accurate 
print(df_ords.median())
df_ords['days_since_prior_order'].fillna(11, inplace=True)

order_id                  1710542.0
user_id                    102689.0
order_number                   11.0
orders_day_of_week              3.0
order_time                     13.0
days_since_prior_order          7.0
dtype: float64

In [26]:
#7: there are no duplicates in orders
print(df_ords[df_ords.duplicated()])

Empty DataFrame
Columns: [order_id, user_id, order_number, orders_day_of_week, order_time, days_since_prior_order]
Index: []

In [27]:
df_ords.shape

(3421083, 6)

In [28]:
#Export
df_ords.to_csv(os.path.join(path, '02 Data','Prepared', 'orders_checked.csv'))