# Contents:
Set Up

Merging: .merge()

## Set Up

In [1]:
#set up
import pandas as pd
import numpy as np
import os
path = r"C:\Users\irkat\OneDrive - University of North Carolina at Charlotte\Desktop\Data Cert\A4"

In [ ]:
#import orders

In [14]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared', 'orders_checked.csv'), index_col = 0)

In [15]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order
0,2539329,1,1,2,8,11.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [16]:
df_ords.shape

(3421083, 6)

In [17]:
#import products
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared', 'products_checked.csv'), index_col = 0)

In [18]:
#check products
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [19]:
df_prods.shape

(49672, 5)

In [20]:
#import orders products prior
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original', 'orders_products_prior.csv'), index_col = False)

In [21]:
#check ord prod prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [22]:
df_ords_prior.shape

(32434489, 4)

Consistency Checks

In [8]:
# no null
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [9]:
#no duplicates
df_ords_prior[df_ords_prior.duplicated()].sum()

order_id             0.0
product_id           0.0
add_to_cart_order    0.0
reordered            0.0
dtype: float64

## Merging

In [23]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [24]:
#check merge
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [26]:
#remove indicator column
df_merged_large = df_merged_large.drop(columns = '_merge')

In [27]:
#Export
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared', 'orders_products_combined.pkl'))