# Contents
Set Up

Merging

## Set Up

In [2]:
#set up
import pandas as pd
import numpy as np
import os
path = r"C:\Users\irkat\OneDrive - University of North Carolina at Charlotte\Desktop\Data Cert\A4"

In [3]:
#import combined
df_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared', 'orders_products_combined.pkl'))

In [4]:
#check combined
df_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,11.0,196,1,0
1,2539329,1,1,2,8,11.0,14084,2,0
2,2539329,1,1,2,8,11.0,12427,3,0
3,2539329,1,1,2,8,11.0,26088,4,0
4,2539329,1,1,2,8,11.0,26405,5,0

In [8]:
df_combined.shape

(32434489, 9)

In [9]:
#import products
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared', 'products_checked.csv'), index_col = 0)

In [10]:
#check products
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
df_prods.shape

(49672, 5)

## Merge

In [12]:
#merge
df_merged = df_combined.merge(df_prods, on = 'product_id', indicator = True)

In [13]:
#checking
df_combined.shape

(32434489, 9)

In [14]:
#checking
df_merged.shape

(32404859, 14)

In [15]:
#checking merge
df_merged.value_counts('_merge')

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [16]:
#drop indicator column
df_merged = df_merged.drop(columns = '_merge')

In [17]:
#checking
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,11.0,196,1,0,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0

In [18]:
#export
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared', 'orders_products_merged.pkl'))