# Contents
Set Up

Price Grouping: If Else method, .loc method

Busy Day: for loops

Busiest Days

Busy Times

## Set Up

In [1]:
#set up
import pandas as pd
import numpy as np
import os
path = r"C:\Users\irkat\OneDrive - University of North Carolina at Charlotte\Desktop\Data Cert\A4"

In [2]:
#import
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared', 'orders_products_merged.pkl'))

In [3]:
df.shape

(32404859, 13)

In [4]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,11.0,196,1,0,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0

## Price Grouping

### If Else

In [5]:
#price grouping function using if else
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range product'
  else: return 'Not enough data'

In [6]:
#new price range column
df['price_range'] = df.apply(price_label, axis=1)

KeyboardInterrupt:

In [7]:
#price range frequencies
df.value_counts('price_range')

KeyError: 'price_range'

In [8]:
#max price
df['prices'].max()

99999.0

### .loc

In [9]:
#high
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [10]:
#mid
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [11]:
#low
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

## Busy Day

In [12]:
#busiest day for loop
result = []

for value in df["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [13]:
#create new column
df['busy_day'] = result

In [14]:
#frequency check
df.value_counts('busy_day')

busy_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

## Busiest Days

In [15]:
#day frequencies
df.value_counts('orders_day_of_week')

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [16]:
#busiest days for loop
result = []

for value in df["orders_day_of_week"]:
  if value == 0 or value == 1:
    result.append("Busiest day")
  elif value == 4 or value == 3:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [17]:
#new column
df['busiest_days'] = result

In [18]:
#busy day frequencies
df.value_counts('busiest_days')

busiest_days
Regularly busy    12916111
Busiest day       11864412
Least busy         7624336
Name: count, dtype: int64

## Busy Times

In [20]:
#time frequencies
df.value_counts('order_time')

order_time
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [21]:
#busiest hours for loop
result = []

for value in df["order_time"]:
  if value > 8 & value < 12:
    result.append("Most Orders")
  elif value > 1 & value < 5:
    result.append("Fewest Orders")
  else:
    result.append("Average Orders")

In [24]:
#busiest hours column
df['busy_times'] = result

In [25]:
#busiest hours frequencies
df.value_counts('busy_times')

busy_times
Most Orders       30467972
Fewest Orders      1718118
Average Orders      218769
Name: count, dtype: int64

In [26]:
#export
df.to_pickle(os.path.join(path, '02 Data','Prepared', 'orders_products_merged.pkl'))